extends ../layout
block content
	.container
		.row
			nav.col-sm-2
				ul
					li
						a(href='/') Home
			section.col-sm-7.section-main
				.panel
					.panel-body
						.row
							form.form-horizontal(method="post",action="/post")
								-if(!logeduser){
									input(type="hidden" name="post[author]" value="visitor")
								-}else{
									input(type="hidden" name="post[author]" value="#{logeduser._id}")
								-}
								h5 有什么新鲜事想告诉大家?
								.form-group
									.col-sm-12
										textarea.form-control(rows=3,name="post[content]")
								.form-group
									.col-sm-2.col-sm-offset-10
										button.form-control.btn.btn-primary(type="submit") 发布
				#posts-list
					each item in posts
						.panel.post-item
							.panel-body
								-if(logeduser && (logeduser._id == item.author._id) ){
									.close x
								-}
								.row
									.col-xs-2.text-center
										a(href='/user/#{item.author._id}',target="_blank")
											img(src='#{item.author.face}')
									.col-xs-10
										.post-content
											p= item.author.name
											p= item.content
											p.text-right
												small 
													| 发布于: #{moment(item.date).format('llll')}
				.row.show-grid
					nav.col-sm-12.text-center
						ul.pagination#pagination
						script.
							$(function(){
								//分页功能
								var options = {
									currentPage:#{pagination.currentPage},
									totalPages:#{pagination.totalPages},
									numberOfPages:#{pagination.numberOfPages},
									bootstrapMajorVersion: 3,
									onPageClicked: function(e,originalEvent,type,page){
										microblog.reloadPageWithData(page);
									}
								}
								if(options.totalPages){
									$('#pagination').bootstrapPaginator(options);
								}
							})
			aside.col-sm-3
				article.user-info
					each item in users
						p
							a(href="/user/#{item._id}")= item.name
				article.ad
				article.announcement
