extends ../layout
block content
	.container
		.row
			nav.col-sm-2
				ul
					li
						a(href='/') Home
			section.col-sm-7.section-main
				.panel
					.panel-body
						.row
							form.form-horizontal(method="post",action="/post")
								-if(!user){
									input(type="hidden" name=[author] value="visitor")
								-}else{
									input(type="hidden" name=[author] value="#{user.name}")
								-}
								h5 有什么新鲜事想告诉大家?
								.form-group
									.col-sm-12
										textarea.form-control(rows=3,name="post[content]")
								.form-group
									.col-sm-2.col-sm-offset-10
										button.form-control.btn.btn-primary(type="submit") 发布
				each item in posts
					.panel.post-item
						.panel-body
							.row
								.col-xs-2.text-center
									a(href='/user/#{item.author._id}',target="_blank")
										img(src='#{item.author.face}')
								.col-xs-10
									.post-content
										p= item.author.name
										p= item.content
										p.text-right
											small 
												| 发布于: #{moment(item.date).format('llll')}
				.row.show-grid
					nav.col-sm-12
						ul.pager
							li.previous.disabled
								a(href="#")
									span(aria-hidden="true") &#8592;
									| 上一页
							li.next
								a(href="#")
									| 下一页
									span(aria-hidden="true") &#8594;
			aside.col-sm-3
				article.user-info
					each item in users
						p= item.name
				article.ad
				article.announcement